* {
  padding: 0;
  margin: 0;
}



body{

  font-family: Gotham, Helvetica, Verdana, sans-serif;
}

#blue{
  background-color: blue;
}

#GREY{
    background-color: GREEN;
}
header{
  background: black;
  padding: 20px;
}

header h1{
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
}

h1{

}

header h2{
  color: #ffffff;
  text-align: center;
  font-family: serif;
}

nav  {
  background-color: white;
  text-align: center;

}

/* the a tags in the are differnt from teh a tags in the par*/
nav a:link {
  display: inline-block;
  padding: 20px;
  color:#000;
  text-decoration: none;
}

nav a:visited {
  display: inline-block;
  padding: 20px;
  color: pink;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
  color: pink;
  text-decoration: none;
}

nav a:active {
  background-color: black;
  color: #fff;
  text-decoration: none;
}

a{

  text-align: center;
}
article{
  padding: 20px;
}

article h1{
  font-size: 40px;
  text-transform: uppercase;
}

/* make img rep  */
/* article img{
  width: 100%;
}  */


.float-left{
  width:20px;
  float: left;
  margin-left: 20px;
}

article p{
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}


.red{
  color: #ffffff;
  font-size: 200%;
  background-color: pink;
  border-left: solid 40px #7FFFD4;
  padding:20px;
  margin: 40px 100px;
}




footer{
  padding: 20px;
  background-color: black;
  color: #fff;
}
