*{
  margin: 0;
  padding: 0;
}

main{
  background: #666;
}


body{
  background: grey;
}

div{
  background: blue;
  color: white;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 20px;
  font-size: 36px;

}

.abso{
     background: red;
     position: absolute;
     right: 0px;
     right: 0;
     margin: 0;
}
