@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fjalla One', sans-serif;
}

/*GLOBAL CODE*/
header {
	padding: 32px;
}



.responsive {
  width: 100%;
  height: auto;
	padding-left: 10px;
}







p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 25px;
	text-align: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}


img{
	width: 200vh;
	height: 100vh;
}

/*tablet view*/
@media (min-width: 768px){
	body {
		max-width: 776px;
	}
	.style-nav ul li{
		display: inline-block;
	}

	/*to center nav*/
	.style-nav ul{
		text-align: center;
	}

	h1 {
		font-size: 40px;
		color: #de6d70;
		font-family: 'Fjalla One', sans-serif;

	}

.Footnotes	h2{
		font-size: 20px;
	}



.Footnotes{
	font-style: italic;
}
a{
	text-decoration: none;
	color: black;
	font-size: 27px;
	margin-bottom: 2px;
}

	.col-md-one-half {
		width: 50%;
	}

	.col {
		float: left;
		padding: 0px 7px 14px;
	}


}

/*desktop view*/
@media (min-width: 1024px){

	body {
		max-width: 1200px;
	}

	.style-logo {
		float: left;
	}

	.style-nav{
		float: right;
	}


	.col-lg-one-fourth {
		width: 25%;
	}


}

















/*CODE TO GO WITH JAVA */
/* body {}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
} */

/* #myImg:hover {opacity: 0.7;} */

/* The Modal (background) */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
} */

/* Modal Content (image) */
/* .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
} */



/* Add Animation */
/* .modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
} */

/* @-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */

/* The Close Button */
/* .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
} */

/* .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} */

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} */
