*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  position:absolute;
  z-index:1;
  left:0;
  top:10vh;
  background:orange;
  width:100%;
}

section{
  width: 100%;
  height:100vh;


}

 nav{
  background: pink;
  text-align: center;
  position:fixed;
  z-index:2;
  left: 0;
  top: 0;
  width: 100%;
  height:10vh;

}



#s1 article{
  margin-left:10%;
  width: 83%;
  background-color: white;
  position:relative;
  top:5%;
  height:75vh;


}

#s2 article{
  margin-left:10%;
  width: 83%;
  background-color: white;
  position:relative;
  top:5%;
  height:75vh;
}

#s3 article{
  margin-left:10%;
  width: 83%;
  background-color: white;
  position:relative;
  top:5%;
  height:75vh;
}

#s1{
  background: #f3b3a6;
  background-size: cover;

}


#s2{
  background: #b98b82;
  background-size: cover;
}

#s3{
  background: #e4959e;
  background-size: cover;
}
