@import url('https://fonts.googleapis.com/css?family=Lato:300i|Montserrat|Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV INFO HERE */
nav{
  background: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;



}
nav a:link {
  color: #fff;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
}

nav a:hover{
  color: #333;
  background: #fff;
}

/* HERO HEADER */

#hero{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background:url(../images/wands.jpg) no-repeat fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

#hero hgroup{
  background: #fff;
  color: #333;
  padding:20px;
  text-align: center;
}

/* class multi col */

.multi_col{
  width:100%;
  height:auto;
  padding:40px;
  background: green;
}

.multi_col article{
  column-count: 3;
  column-gap: 40;
}

.multi_col img {
  width: 100%;
}

figure{
  text-align: center;
  margin-bottom: 10px;
}


/*  FOREST */

#forest{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background:url(../images/castle.jpg) no-repeat fixed center center;
  background-size: cover;
  padding: 40px;

}

#forest article{
  background: #fff;
  padding: 20px;
  width: 40%;
  margin-bottom: 20px;
  /* height: 205px; */
}

.strange{
  position: relative;
  left: 10%;
}

/*  FALL */

#fall{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background:url(../images/dragon.jpg) no-repeat fixed center center;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

}

#fall article{
  background: #fff;
  padding: 20px;
  width: 20%;
  margin-bottom: 20px;
  /* height: 205px; */
}
